<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {#<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>#}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index.css"/>
        <script type="module" src="/js/custom.js"></script>
        <title>
            {% block title %}Generic Hipster Coffee{% endblock %}
        </title>
    </head>
    <body>
        <header class="bg-light">
            <div class="container">
                <div class="navbar navbar-expand flex-column flex-md-row justify-content-md-between">
                    <a class="nav-brand" href="/">
                        <img src="/svg/logo.svg" alt="Generic Hipster Coffee" width="178" height="178">
                    </a>
                    <nav class="navbar-nav">
                        <a class="px-3 nav-link" href="/">Home</a>
                        <a class="px-3 nav-link" href="/menu">Menu</a>
                        <a class="px-3 nav-link" href="/coffee">Coffee</a>
                        <a class="px-3 nav-link" href="/our-story">Our&nbsp;Story</a>
                    </nav>
                </div>
            </div>
        </header>
        

        <main class="container">

            {% block content %}{% endblock %}

        </main>

        <footer class="text-center text-bg-dark p-3">
            <section class="navbar navbar-expand justify-content-center">
                <div class="navbar-nav">
                    <a class="nav-link link-info" href="/">Home</a>
                    <a class="nav-link link-info" href="/menu">Menu</a>
                    <a class="nav-link link-info" href="/coffee">Coffee</a>
                    <a class="nav-link link-info" href="/our-story">Our Story</a>
                </div>
            </section>

            <p class="h5 text-uppercase">#hipstersmakecoffee</p>
            <p>Follow us on
                <a class="text-info" href="#">Twitter</a>
                and
                <a class="text-info" href="#">Instagram</a>
            </p>
        </footer>
        {#
            <!-- Optional JavaScript -->
            <!-- Bootstrap JS first and your own script at the end -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
            <script src="js/custom.js"></script>
        #}
        {% block javascript %}{% endblock %}
    </body>
</html>
