<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {#<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>#}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="index.css"/>
        <script type="module" src="/js/custom.js"></script>
        <title>
            {% block title %}Generic Hipster Coffee{% endblock %}
        </title>
    </head>
    <body>
        <header class="bg-light mb-3">
            <div class="container px-3">
                <div class="navbar navbar-expand flex-column flex-md-row justify-content-md-between gap-1">
                    <a class="nav-brand" href="/">
                        <img src="/svg/logo.svg" alt="Generic Hipster Coffee" width="180" height="180">
                    </a>
                    <nav class="navbar-nav">
                        <a class="nav-link {% block navIndex %}{% endblock %} ms-md-3" href="/">Home</a>
                        <a class="nav-link {% block navMenu %}{% endblock %} ms-md-3" href="/menu">Menu</a>
                        <a class="nav-link {% block navCoffee %}{% endblock %} ms-md-3" href="/coffee">Coffee</a>
                        <a class="nav-link {% block navOurStory %}{% endblock %} ms-md-3" href="/our-story">Our&nbsp;Story</a>
                    </nav>
                </div>
            </div>
        </header>
        

        <main class="container px-3">

            {% block content %}{% endblock %}

        </main>

        <footer class="text-center text-light bg-dark custom-flow-root">
            <section class="nav justify-content-center py-5 gap-3">
                <a class="nav-link {% block footerNavIndex %}{% endblock %} p-1" href="/">Home</a>
                <a class="nav-link {% block footerNavMenu %}{% endblock %} p-1" href="/menu">Menu</a>
                <a class="nav-link {% block footerNavCoffee %}{% endblock %} p-1" href="/coffee">Coffee</a>
                <a class="nav-link {% block footerNavOurStory %}{% endblock %} p-1" href="/our-story">Our Story</a>
            </section>

            <p class="h5">#hipstersmakecoffee</p>
            <p class="m-0 mb-6 mb-md-5">
                Follow us on
                <a class="link-info" href="#">Twitter</a>
                and
                <a class="link-info" href="#">Instagram</a>
            </p>
        </footer>
        {#
            <!-- Optional JavaScript -->
            <!-- Bootstrap JS first and your own script at the end -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
            <script src="js/custom.js"></script>
        #}
        {% block javascript %}{% endblock %}
    </body>
</html>
