{% extends '_base.njk' %}


{% block navIndex %}active{% endblock %}
{% block footerNavIndex %}active{% endblock %}

{% block content %}  
    <h1>Generic Hipster Coffee</h1>
    <p class="h2 mb-3">Specialty coffee, fresh food &amp; local community</p>
    
    <img class="img-fluid mb-3" 
    src="/img/counter_vka5fn/counter_vka5fn_c_scale,w_1005.jpg"
    srcset="
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_272.jpg 272w,
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_518.jpg 518w,
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_706.jpg 706w,
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_866.jpg 866w,
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_1005.jpg 1005w,
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_1133.jpg 1133w,
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_1506.jpg 1506w,
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_1822.jpg 1822w,
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_2022.jpg 2022w,
        /img/counter_vka5fn/counter_vka5fn_c_scale,w_2184.jpg 2184w
        "
    sizes="
        (min-width: 1200px) 1092px,
        (min-width: 992px) 912px,
        (min-width: 768px) 672px,
        (min-width: 576px) 492px,
        calc(100vw - 2 * 1.5rem)
        "
    alt=""
    width="1092"
    height="614">
    
    <section class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g">
        <section class="col">
            <h2 class="h4">Opening hours</h2>
            <p>
                Sunday – Thursday: 8:00 – 23:00
                <br>
                Friday – Saturday: 8:00 – 1:00
            </p>
        </section>
        <section class="col">
            <h2 class="h4">Book a table</h2>
            <p>Call <a class="text-decoration-none text-reset" href="tel:+14153214567">+1 415-321-4567</a></p>
        </section>
        <section class="col">
            <h2 class="h4">Address</h2>
            <p>
                321 Ivy St.
                <br>
                San Francisco, CA 94102
            </p>
        </section>
    </section>

    <div id="map" class="ratio ratio-16x9 mb-n4"></div>

{% endblock %}


{% block javascript %}<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXd8mwzW0g7UtZQYcbf_3mQxA01EVpl3o&callback=initMap&v=weekly" defer></script>{% endblock %}
