{% extends '_base.njk' %}


{% block content %}  
    <h1>Generic Hipster Coffee</h1>
    <p class="">Specialty coffee, fresh food &amp; local community</p>
    <img src="/img/counter.jpg" alt="">
    <section class="informations">
        <div class="opening-hours">
            <h2>Opening hours</h2>
            <p>
                Sunday – Thursday: 8:00 – 23:00
                <br>
                Friday – Saturday: 8:00 – 1:00
            </p>
        </div>
        <div class="booking">
            <h2>Book a table</h2>
            <p>Call <a href="tel:+14153214567">+1 415-321-4567</a></p>
        </div>
        <div class="address">
            <h2>Address</h2>
            <p>
                321 Ivy St.
                <br>
                San Francisco, CA 94102
            </p>
        </div>
    </section>

    <img src="/img/map.png" alt="">
{% endblock %}
