{% extends '_base.njk' %}


{% block content %}  
    <h1 class="text-uppercase">Generic Hipster Coffee</h1>
    <p class="h2 text-uppercase">Specialty coffee, fresh food &amp; local community</p>
    
    <img class="img-fluid" src="/img/counter.jpg" alt="">
    
    <section class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
        <section class="col">
            <h2 class="h4 text-uppercase">Opening hours</h2>
            <p>
                Sunday – Thursday: 8:00 – 23:00
                <br>
                Friday – Saturday: 8:00 – 1:00
            </p>
        </section>
        <section class="col">
            <h2 class="h4 text-uppercase">Book a table</h2>
            <p>Call <a class="text-decoration-none text-reset" href="tel:+14153214567">+1 415-321-4567</a></p>
        </section>
        <section class="col">
            <h2 class="h4 text-uppercase">Address</h2>
            <p>
                321 Ivy St.
                <br>
                San Francisco, CA 94102
            </p>
        </section>
    </section>

    <div id="map" class="ratio ratio-16x9"></div>
{% endblock %}


{% block javascript %}<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXd8mwzW0g7UtZQYcbf_3mQxA01EVpl3o&callback=initMap&v=weekly" defer></script>{% endblock %}
