{% extends '_base.njk' %}


{% block title %}Menu – Generic Hipster Coffee{% endblock %}


{% block content %}
    <h1>Menu</h1>
    
    <section class="row row-cols-1 row-cols-md-2">
    <section class="col">
        <h2>Espresso Coffee</h2>
            <p class="row"><span class="col">Espresso</span><span class="col-3">3.8</span></p>
            <p class="row"><span class="col">Double Espresso</span><span class="col-3">4.9</span></p>
            <p class="row"><span class="col">Americano</span><span class="col-3">5</span></p>
            <p class="row"><span class="col">Cappuccino</span><span class="col-3">5.2</span></p>
            <p class="row"><span class="col">Flat White</span><span class="col-3">5.9</span></p>
            <p class="row"><span class="col">Latte</span><span class="col-3">5.9</span></p>
            <p class="row"><span class="col">Extra shot</span><span class="col-3">1.1</span></p>       
    </section>

    <section class="col">
        <h2>Filter Coffee</h2>
            <p class="row"><span class="col">House Drip Coffee</span><span class="col-3">4.5</span></p>
            <p class="row"><span class="col">Aeropress</span><span class="col-3">5.5</span></p>
            <p class="row"><span class="col">V60</span><span class="col-3">6.5</span></p>
            <p class="row"><span class="col">Kalita</span><span class="col-3">12</span></p>
    </section>

    <section class="col">
        <h2>Coffee Spacialites</h2>
            <p class="row"><span class="col">Cascara</span><span class="col-3">4.9</span></p>
            <p class="row"><span class="col">Irish coffee</span><span class="col-3">10.9</span></p>
    </section>

    <section class="col">
        <h2>Iced</h2>
            <p class="row"><span class="col">Iced Latte</span><span class="col-3">6.9</span></p>
            <p class="row"><span class="col">Espresso on the rock</span><span class="col-3">4.9</span></p>
            <p class="row"><span class="col">Iced Cascara</span><span class="col-3">5.5</span></p>
            <p class="row"><span class="col">Affogato</span><span class="col-3">5.9</span></p>
            <p class="row"><span class="col">Iced Flat white</span><span class="col-3">5.9</span></p>
            <p class="row"><span class="col">Iced Filter</span><span class="col-3">5.8</span></p>
            <p class="row"><span class="col">Iced tea</span><span class="col-3">4.9</span></p>
            <p class="row"><span class="col">Iced chocolate</span><span class="col-3">6.2</span></p>
    </section>

    <section class="col">
        <h2>Hot</h2>
            <p class="row"><span class="col">Tea</span><span class="col-3">4.9</span></p>
            <p class="row"><span class="col">Ginger tea</span><span class="col-3">4.5</span></p>
            <p class="row"><span class="col">Hot chocolate</span><span class="col-3">4.5</span></p>
    </section>

    <section class="col">
        <h2>Something To Eat</h2>
            <p class="row"><span class="col">Soup of the day</span><span class="col-3">5.8</span></p>
            <p class="row"><span class="col">Chipotle Citrus Chicken Sandwich</span><span class="col-3">5.4</span></p>
            <p class="row"><span class="col">Avocado Toast</span><span class="col-3">5.6</span></p>
            <p class="row"><span class="col">Super BLT Sandwich</span><span class="col-3">12.8</span></p>
    </section>

    <section class="col">
        <h2>Sweets</h2>
            <p class="row"><span class="col">Homemade cakes of the day</span><span class="col-3">5</span></p>
            <p class="row"><span class="col">Key Lime and Coconut</span><span class="col-3">1.5</span></p>
            <p class="row"><span class="col">Icecream</span><span class="col-3">2</span></p>
            <p class="row"><span class="col">Tiramisu</span><span class="col-3">6</span></p>
    </section>
    </section>

    <h2>Non-Alcoholic Beverages</h2>

    <section class="row row-cols-1 row-cols-md-2">
    <section class="col">
        <h3>Lemonades</h3>
            <p class="row"><span class="col">Fresh Squeezed Lemonade</span><span class="col-3">5</span></p>
            <p class="row"><span class="col">Ginger Lemonade</span><span class="col-3">4.5</span></p>
            <p class="row"><span class="col">Cascara Fizz Original</span><span class="col-3">5.8</span></p>
            <p class="row"><span class="col">Club-mate Cola</span><span class="col-3">4.5</span></p>
            <p class="row"><span class="col">Tonic Thomas Henry</span><span class="col-3">4.3</span></p>
    </section>

    <section class="col">
        <h3>Water</h3>         
            <p class="row"><span class="col">Sparkling</span><span class="col-3">2.4</span></p>
            <p class="row"><span class="col">Still</span><span class="col-3">2.4</span></p>
    </section>
    </section>

    <h2>Alcoholic Beverages</h2>

    <section class="row row-cols-1 row-cols-md-2">
    <section class="col">
        <h3>Beer</h3>
            <p class="row"><span class="col">Small breweries on tap</span><span class="col-3">3.5</span></p>
            <p class="row"><span class="col">Birell (bottled)</span><span class="col-3">3.5</span></p>
            <p class="row"><span class="col">Cider Magnetic Apple</span><span class="col-3">4.5</span></p>
    </section>

    <section class="col">
        <h3>White Wine</h3>
            <p class="row"><span class="col">Chardonnay Les Vignes de L'Arque, France</span><span class="col-3">3.5</span></p>
            <p class="row"><span class="col">Sauvignon Blanc, Château Le Sartre, Blanc 2011</span><span class="col-3">3.8</span></p>
    </section>

    <section class="col">
        <h3>Red Wine</h3> 
            <p class="row"><span class="col">Cuvée Côtes du Rhône Vigneros de Caracterem</span><span class="col-3">3.5</span></p>
            <p class="row"><span class="col">Cabernet Sauvignon, Château Tour du Roch-Milon 2011</span><span class="col-3">3.5</span></p>
    </section>

    <section class="col">
        <h3>Cocktails</h3>        
            <p class="row"><span class="col">Gin Tonic</span><span class="col-3">9</span></p>
            <p class="row"><span class="col">Cuba Libre</span><span class="col-3">9.9</span></p>
            <p class="row"><span class="col">Mojito</span><span class="col-3">9.9</span></p>
    </section>

    <section class="col">
        <h3>Spirits</h3>           
            <p class="row"><span class="col">Metaxa 12*</span><span class="col-3">7.5</span></p>
            <p class="row"><span class="col">Tullamore Dew</span><span class="col-3">6.5</span></p>
            <p class="row"><span class="col">Jameson Whiskey</span><span class="col-3">6.5</span></p>
            <p class="row"><span class="col">Bombay, Añejo Suave</span><span class="col-3">6.8</span></p>
            <p class="row"><span class="col">Ron Cubay, Añejo Suave</span><span class="col-3">6.5</span></p>
            <p class="row"><span class="col">Tequila, El Jimador, Reposado</span><span class="col-3">6.2</span></p>
            <p class="row"><span class="col">Vodka Finlandia</span><span class="col-3">5.5</span></p>
            <p class="row"><span class="col">Bailey's</span><span class="col-3">5.5</span></p>
            <p class="row"><span class="col">Jagermeister</span><span class="col-3">5.5</span></p>
            <p class="row"><span class="col">Graham's Tawny Porto</span><span class="col-3">4.7</span></p>
    </section>
    </section>

    <img class="img-fluid" src="/img/espresso-machine-detail.jpg" alt="">
{% endblock %}
