{% extends '_base.njk' %}


{% block title %}Menu{% endblock %}


{% block content %}
    <h1>Menu</h1>
    
    <section>
        <h2>Espresso Coffee</h2>
        <ul>
            <li>Espresso 3.8</li>
            <li>Double Espresso 4.9</li>
            <li>Americano 5</li>
            <li>Cappuccino 5.2</li>
            <li>Flat White 5.9</li>
            <li>Latte 5.9</li>
            <li>Extra shot 1.1</li>
        </ul>
    </section>

    <section>
        <h2>Filter Coffee</h2>
        <ul>
            <li>House Drip Coffee 4.5</li>
            <li>Aeropress 5.5</li>
            <li>V60 6.5</li>
            <li>Kalita 12</li>
        </ul>
    </section>

    <section>
        <h2>Coffee Spacialites</h2>
        <ul>
            <li>Cascara 4.9</li>
            <li>Irish coffee 10.9</li>
        </ul>
    </section>

    <section>
        <h2>Iced</h2>
        <ul>
            <li>Iced Latte 6.9</li>
            <li>Espresso on the rock 4.9</li>
            <li>Iced Cascara 5.5</li>
            <li>Affogato 5.9</li>
            <li>Iced Flat white 5.9</li>
            <li>Iced Filter 5.8</li>
            <li>Iced tea 4.9</li>
            <li>Iced chocolate 6.2</li>
        </ul>
    </section>

    <section>
        <h2>Hot</h2>
        <ul>
            <li>Tea 4.9</li>
            <li>Ginger tea 4.5</li>
            <li>Hot chocolate 4.5</li>
        </ul>
    </section>

    <section>
        <h2>Something To Eat</h2>
        <ul>
            <li>Soup of the day 5.8</li>
            <li>Chipotle Citrus Chicken Sandwich 5.4</li>
            <li>Avocado Toast 5.6</li>
            <li>Super BLT Sandwich 12.8</li>
        </ul>
    </section>

    <section>
        <h2>Sweets</h2>
        <ul>
            <li>Homemade cakes of the day 5</li>
            <li>Key Lime and Coconut 1.5</li>
            <li>Icecream 2</li>
            <li>Tiramisu 6</li>
        </ul>
    </section>

    <h2>Non-Alcoholic Beverages</h2>

    <section>
        <h3>Lemonades</h3>
        <ul>
            <li>Fresh Squeezed Lemonade 5</li>
            <li>Ginger Lemonade 4.5</li>
            <li>Cascara Fizz Original 5.8</li>
            <li>Club-mate Cola 4.5</li>
            <li>Tonic Thomas Henry 4.3</li>
        </ul>
    </section>

    <section>
        <h3>Water</h3>
        <ul>
            <li>Sparkling 2.4</li>
            <li>Still 2.4</li>
        </ul>
    </section>

    <h2>Alcoholic Beverages</h2>

    <section>
        <h3>Beer</h3>
        <ul>
            <li>Small breweries on tap 3.5</li>
            <li>Birell (bottled) 3.5</li>
            <li>Cider Magnetic Apple 4.5</li>
        </ul>
    </section>

    <section>
        <h3>White Wine</h3>
        <ul>
            <li>Chardonnay Les Vignes de L'Arque, France 3.5</li>
            <li>Sauvignon Blanc, Château Le Sartre, Blanc 2011 3.8</li>
        </ul>
    </section>

    <section>
        <h3>Red Wine</h3>
        <ul>
            <li>Cuvée Côtes du Rhône Vigneros de Caracterem 3.5</li>
            <li>Cabernet Sauvignon, Château Tour du Roch-Milon 2011 3.5</li>
        </ul>
    </section>

    <section>
        <h3>Cocktails</h3>
        <ul>
            <li>Gin Tonic 9</li>
            <li>Cuba Libre 9.9</li>
            <li>Mojito 9.9</li>
        </ul>
    </section>

    <section>
        <h3>Spirits</h3>
        <ul>
            <li>Metaxa 12* 7.5</li>
            <li>Tullamore Dew 6.5</li>
            <li>Jameson Whiskey 6.5</li>
            <li>Bombay, Añejo Suave 6.8</li>
            <li>Ron Cubay, Añejo Suave 6.5</li>
            <li>Tequila, El Jimador, Reposado 6.2</li>
            <li>Vodka Finlandia 5.5</li>
            <li>Bailey's 5.5</li>
            <li>Jagermeister 5.5</li>
            <li>Graham's Tawny Porto 4.7</li>
        </ul>
    </section>

    <img src="/img/espresso-machine-detail.jpg" alt="">
{% endblock %}
