{% extends '_base.njk' %}


{% block title %}Menu – Generic Hipster Coffee{% endblock %}


{% block content %}
    <h1>Menu</h1>
    
    <section class="row row-cols-1 row-cols-sm-2">
    <section class="col">
        <h2>Espresso Coffee</h2>
            <p>Espresso 3.8</p>
            <p>Double Espresso 4.9</p>
            <p>Americano 5</p>
            <p>Cappuccino 5.2</p>
            <p>Flat White 5.9</p>
            <p>Latte 5.9</p>
            <p>Extra shot 1.1</p>
    </section>

    <section class="col">
        <h2>Filter Coffee</h2>
            <p>House Drip Coffee 4.5</p>
            <p>Aeropress 5.5</p>
            <p>V60 6.5</p>
            <p>Kalita 12</p>
    </section>

    <section class="col">
        <h2>Coffee Spacialites</h2>
            <p>Cascara 4.9</p>
            <p>Irish coffee 10.9</p>
    </section>

    <section class="col">
        <h2>Iced</h2>
            <p>Iced Latte 6.9</p>
            <p>Espresso on the rock 4.9</p>
            <p>Iced Cascara 5.5</p>
            <p>Affogato 5.9</p>
            <p>Iced Flat white 5.9</p>
            <p>Iced Filter 5.8</p>
            <p>Iced tea 4.9</p>
            <p>Iced chocolate 6.2</p>
    </section>

    <section class="col">
        <h2>Hot</h2>
            <p>Tea 4.9</p>
            <p>Ginger tea 4.5</p>
            <p>Hot chocolate 4.5</p>
    </section>

    <section class="col">
        <h2>Something To Eat</h2>
            <p>Soup of the day 5.8</p>
            <p>Chipotle Citrus Chicken Sandwich 5.4</p>
            <p>Avocado Toast 5.6</p>
            <p>Super BLT Sandwich 12.8</p>
    </section>

    <section class="col">
        <h2>Sweets</h2>
            <p>Homemade cakes of the day 5</p>
            <p>Key Lime and Coconut 1.5</p>
            <p>Icecream 2</p>
            <p>Tiramisu 6</p>
    </section>
    </section>

    <h2>Non-Alcoholic Beverages</h2>

    <section>
        <h3>Lemonades</h3>
            <p>Fresh Squeezed Lemonade 5</p>
            <p>Ginger Lemonade 4.5</p>
            <p>Cascara Fizz Original 5.8</p>
            <p>Club-mate Cola 4.5</p>
            <p>Tonic Thomas Henry 4.3</p>
    </section>

    <section>
        <h3>Water</h3>         
            <p>Sparkling 2.4</p>
            <p>Still 2.4</p>
    </section>

    <h2>Alcoholic Beverages</h2>

    <section>
        <h3>Beer</h3>
            <p>Small breweries on tap 3.5</p>
            <p>Birell (bottled) 3.5</p>
            <p>Cider Magnetic Apple 4.5</p>
    </section>

    <section>
        <h3>White Wine</h3>
            <p>Chardonnay Les Vignes de L'Arque, France 3.5</p>
            <p>Sauvignon Blanc, Château Le Sartre, Blanc 2011 3.8</p>
    </section>

    <section>
        <h3>Red Wine</h3> 
            <p>Cuvée Côtes du Rhône Vigneros de Caracterem 3.5</p>
            <p>Cabernet Sauvignon, Château Tour du Roch-Milon 2011 3.5</p>
    </section>

    <section>
        <h3>Cocktails</h3>        
            <p>Gin Tonic 9</p>
            <p>Cuba Libre 9.9</p>
            <p>Mojito 9.9</p>
    </section>

    <section>
        <h3>Spirits</h3>           
            <p>Metaxa 12* 7.5</p>
            <p>Tullamore Dew 6.5</p>
            <p>Jameson Whiskey 6.5</p>
            <p>Bombay, Añejo Suave 6.8</p>
            <p>Ron Cubay, Añejo Suave 6.5</p>
            <p>Tequila, El Jimador, Reposado 6.2</p>
            <p>Vodka Finlandia 5.5</p>
            <p>Bailey's 5.5</p>
            <p>Jagermeister 5.5</p>
            <p>Graham's Tawny Porto 4.7</p>
    </section>

    <img class="img-fluid" src="/img/espresso-machine-detail.jpg" alt="">
{% endblock %}
