{% extends '_base.njk' %}


{% block title %}Our Story – Generic Hipster Coffee{% endblock %}

{% block navOurStory %}active{% endblock %}
{% block footerNavOurStory %}active{% endblock %}

{% block content %}

    <h1>Our Story</h1>
    <p class="lead mb-3 mb-xs-4">
        GHC started as a project of two friends and passionate baristas, John &amp; Don in 2010. Believing as much in the hand 
        of an educated barista as in the innovative equipment of our ever-growing industry, GHC offers a full spectrum of 
        brewing opportunities – from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made 
        with love, precision and care.
    </p>
    <img 
        class="img-fluid mb-n4" 
        src="/img/espresso-machine/espresso-machine-w-1394.jpg"
        srcset="
            /img/espresso-machine/espresso-machine-w-272.jpg 272w,
            /img/espresso-machine/espresso-machine-w-518.jpg 518w,
            /img/espresso-machine/espresso-machine-w-703.jpg 703w,
            /img/espresso-machine/espresso-machine-w-1394.jpg 1394w,
            /img/espresso-machine/espresso-machine-w-1920.jpg 1920w,
            /img/espresso-machine/espresso-machine-w-2184.jpg 2184w
            "
        sizes="
            (min-width: 1200px) 1092px,
            (min-width: 992px) 912px,
            (min-width: 768px) 672px,
            (min-width: 576px) 492px,
            calc(100vw - 2 * 1.5rem)
            "
        alt=""
        width="1394"
        height="784"
    >

{% endblock %}
