{% extends '_base.njk' %}


{% block title %}Our Story – Generic Hipster Coffee{% endblock %}

{% block navOurStory %}active{% endblock %}
{% block footerNavOurStory %}active{% endblock %}

{% block content %}

    <h1>Our Story</h1>
    <p>
        GHC started as a project of two friends and passionate baristas, John &amp; Don in 2010. Believing as much in the hand 
        of an educated barista as in the innovative equipment of our ever-growing industry, GHC offers a full spectrum of 
        brewing opportunities – from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made 
        with love, precision and care.
    </p>
    <img class="img-fluid mb-n4" src="/img/espresso-machine.jpg" alt="">

{% endblock %}
