h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.custom-flow-root {
    display: flow-root;
}

.nav .active {
    color: $light;
}

@media (min-width: 992px) {
    .nav-brand img {
        width: 240px;
        height: auto;
    }
}
